<div class="comment">
    <div class="poster">
        <i [style.background]="data.color" class="fa {{data.icon}}"></i>

    </div>

    <div class="comment-body">
        <div class="comment-head">
            <b>{{ data.poster }}</b> - {{ data.datePosted | date:'short'}}
        </div>

        {{ data.comment }}

        <div class="comment-actions">
            <i class="fa fa-thumbs-o-up" (click)="vote(true)"></i>
            <span class="comment-likes">{{ data.goodVotes }}</span>

            <i class="fa fa-thumbs-o-down" (click)="vote(false)"></i>
            <span class="comment-dislikes">{{ data.badVotes }}</span>
        </div>

    </div>
</div>